<div class="parent">
    <app-nav class="nav"></app-nav>
    <div class="main-right">
        <div class="section-one">
            <div class="main-text-wrap">
                <div class="w-series">
                    <img class="willflix-logo" src="/assets/willflix.png"/>
                    <div class="series">FILM</div>
                </div>
                <div class="series-title">Productivity Industries</div>
                <div class="info-bar">
                    <div class="date">2020</div>
                    <div class="episodes">3 Episodes</div>
                    <div class="tools">
                        <div class="tag angular">
                            <img class="tag-icon" src="/assets/tags/angular.png"/>
                            <div class="tag-text">Angular</div>
                        </div>
                    </div>
                </div>
                <div class="episode-title">Episode 1: Pilot</div>
                <div class="episode-description">
                    Productivity Industries is the parent company for Magic Binder (and a few other exciting products on the way).
                    Our mission is to enable working professionals to automate trivial tasks. I built and designed the company website, linked below.
                </div>
                <a class="link" href="https://productivityindustries.com/" target="_blank">
                    <div class="play-button">
                        <div class="play"></div>
                        Play
                    </div>
                </a>
            </div>
        </div>
        <div class="bottom-gradient"></div>
        <div class="section-two">
            <div class="features-text">More Like This</div>
            <div class="features-wrapper">
                <div *ngFor="let feature of related">
                    <app-feature [image]="feature.image" [link]="feature.link"></app-feature>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
