.feature-wrap {
    height: 220px;
    width: 160px;
    box-shadow: 0px 0px 10px rgba(17, 18, 21, 0.5);
    margin-right: 10px;
    transition: 0.2s ease-in-out;
    margin-top: 10px;
    cursor: pointer;
    display: flex;

    &:hover {
        box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.3);
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

.w-logo {
    width: 25px;
    height: 28px;
    margin: 8px;
}

.laurel {
    width: 36px;
    border-radius: 100%;
}

.laurel-number {
    color: white;
    margin-top: -31px;
    margin-left: 14px;
    font-weight: bold;
    font-size: 14px;
}

.laurel-wrapper {
    margin: 5px 8px 8px 75px;
    cursor: pointer;
    height: 35px;

    &:hover {
        .awards-widget {
            display: block !important;
        }
    }
}

.awards-widget {
    background: white;
    display: none;
    position: absolute;
    margin-top: 20px;
    border-radius: 5px;
    padding: 5px 8px 2px 8px;
    box-shadow: 0 0 8px 0 rgba(59, 27, 27, 0.3);
}

.awards-widget-item {
    font-size: 12px;
    margin-bottom: 3px;
}