<div class="parent">
    <app-nav></app-nav>
    <div class="main-right">
        <div class="section-one">
            <div class="main-text-wrap">
                <div class="w-series">
                    <img class="willflix-logo" src="/assets/willflix.png"/>
                    <div class="series">FILM</div>
                </div>
                <div class="series-title">Cheese App</div>
                <div class="info-bar">
                    <div class="date">2019-2021</div>
                    <div class="episodes">3 Episodes</div>
                    <div class="tools">
                        <div class="tag swift">
                            <img class="tag-icon" src="/assets/tags/swift.png"/>
                            <div class="tag-text">Swift</div>
                        </div>
                        <div class="tag python">
                            <img class="tag-icon" src="/assets/tags/python.png"/>
                            <div class="tag-text">Python</div>
                        </div>
                        <div class="tag obj-c">
                            <img class="tag-icon" src="/assets/tags/obj-c.png"/>
                            <div class="tag-text">Obj-C</div>
                        </div>
                        <div class="tag cv">
                            <img class="tag-icon" src="/assets/tags/open-cv.png"/>
                            <div class="tag-text">CV</div>
                        </div>
                    </div>
                </div>
                <div class="episode-title">Episode 1: Middlebury Entrepreneurs Class</div>
                <div class="episode-description">
                    The "Cheese App," originally titled "Stitch," is an attempt to solve the group photo dilemma.
                </div>
                <div class="play-button">
                    <div class="play"></div>
                    Play
                </div>
            </div>
        </div>
        <div class="bottom-gradient"></div>
    </div>
</div>
