.link {
    display: flex;
    justify-content: center;
}

.left-bar {
    width: 45px;
    padding: 35px 25px 0 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 25px;
    align-self: flex-start;
}

.w-logo {
    width: 100%;
    padding-bottom: 75px;
}

.social-icon {
    width: 75%;
    margin: 15px 0;
    transition: 0.2s ease-in-out;
    cursor: pointer;

    &:hover {
        opacity: 50%;
    }
}