<div class="left-bar">
    <a class="link" [routerLink]="['/']">
        <img class="w-logo" src="/assets/w-logo.png"/>
    </a>
    <a class="link" href="https://github.com/willhoppin" target="_blank">
        <img class="social-icon" src="/assets/socials/github.png"/>
    </a>
    <a class="link" href="https://www.linkedin.com/in/will-hoppin/" target="_blank">
        <img class="social-icon" src="/assets/socials/linkedin.png"/>
    </a>
    <a class="link" href="https://vimeo.com/willhoppin" target="_blank">
        <img class="social-icon" src="/assets/socials/vimeo.png"/>
    </a>
    <a class="link" href="https://www.tiktok.com/@willyhopps?lang=en" target="_blank">
        <img class="social-icon" src="/assets/socials/tiktok.png"/>
    </a>
    <a class="link" href="https://twitter.com/willyhopps?lang=en" target="_blank">
        <img class="social-icon" src="/assets/socials/twitter.png"/>
    </a>
    <a class="link" href="https://www.instagram.com/willhoppin/" target="_blank">
        <img class="social-icon" src="/assets/socials/instagram.png"/>
    </a>
    <a class="link" href="mailto:whoppin@middlebury.edu">
        <img class="social-icon" src="/assets/socials/email.png"/>
    </a>
</div>