html, body {
    margin: 0;
    font-family: Nunito Sans;
    font-weight: 300;
}

@font-face {
    font-family: "Benguiat";
    src: local("Benguiat"), url(./assets/fonts/Benguiat-Bold.ttf) format("truetype");
}

.swift {
    background: #F7522A;  
}

.python {
    background: #3374A8;
}

.obj-c {
    background: black;
}

.cv {
    background: #0002F8;
}