.parent {
    background: #111215;
    display: flex;
}

.left-bar {
    width: 45px;
    padding-top: 25px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.w-logo {
    width: 100%;
    padding-bottom: 40px;
}

.social-icon {
    width: 80%;
    padding: 15px 0;
    transition: 0.2s ease-in-out;
    cursor: pointer;

    &:hover {
        opacity: 50%;
    }
}