<div class="parent">
    <app-nav class="nav"></app-nav>
    <div class="main-right">
        <div class="section-one">
            <div class="main-text-wrap">
                <div class="main-title">Will Hoppin</div>
                <div class="main-description">In this "rags to rags" story, a determined Columbia University grad does everything he can to become an international superstar. Little does he know, he's going to end up in his parents' basement...</div>
            </div>
            <div class="buttons-wrapper">
                <a class="link" href="https://vimeo.com/willhoppin" target="_blank">
                    <div class="play-button">
                        <div class="play"></div>
                        Play
                    </div>
                </a>
                <a class="link" href="https://www.linkedin.com/in/will-hoppin/" target="_blank">
                    <div class="about-wrapper">
                        <div class="about-text">More Info</div>
                        <div class="about-button"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="bottom-gradient"></div>
        <div class="section-two">
            <div class="trending-text">Films</div>
            <div class="features-wrapper">
                <div *ngFor="let feature of films">
                    <app-faux-feature [image]="feature.image" [link]="feature.link" [awards]="feature.awards"></app-faux-feature>
                </div>
            </div>
        </div>
        <div class="section-x">
            <div class="trending-text">Coding Projects</div>
            <div class="features-wrapper">
                <div *ngFor="let feature of coding">
                    <app-feature [image]="feature.image" [link]="feature.link"></app-feature>
                </div>
            </div>
        </div>
        <div class="section-x">
            <div class="trending-text">Media & Design</div>
            <div class="features-wrapper">
                <div *ngFor="let feature of design">
                    <app-faux-feature [image]="feature.image" [link]="feature.link"></app-faux-feature>
                </div>
            </div>
        </div>
        <div class="section-x">
            <div class="trending-text">Photography</div>
            <div class="features-wrapper">
                <div *ngFor="let feature of photography">
                    <app-faux-feature [image]="feature.image" [link]="feature.link" [awards]="feature.awards"></app-faux-feature>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
