.feature-wrap {
    height: 220px;
    width: 160px;
    background-color: blue;
    box-shadow: 0px 0px 10px rgba(17, 18, 21, 0.5);
    margin-right: 12px;
}

.w-logo {
    width: 40px;
    margin: 10px;
}